<div id="error_partial">
    <%= render "shared/errors", obj: @market %>
</div>

<div class= "container">
<h4 class= "col-md-8 col-md-offset-2">There are bets made against this market - the only change allowed is the creation of additional outcomes
</h4>
</h2>
  <div class="row">
    <div id= "new_market_form" class= "well col-md-8 col-md-offset-2">
      <%= form_for @market, html: { id: "market_form" } do |f| %>

        <%= f.label 'Outcomes' %> <i class="glyphicon glyphicon-plus" id="add_outcome"></i>

        <ul class="list-unstyled" id='new_outcomes_input_group'>
        	<%= f.fields_for :market_outcomes do |mo_form| %>

          		<li>
          			<%= mo_form.text_field :outcome, html_options={ placeholder:'New Outcome', readonly: true } %>
          		</li>        			  
    			  
        	<% end %>
        </ul>
        <%= f.submit(@market.new_record? ? 'New Market' : 'Edit Market', class: "btn btn-success") %>
      <% end %>
    </div>
  </div>
</div>
