
<% mo_presenter = MarketOutcomePresenter.new(outcome, self) %>
<span class="h3 col-md-3 col-md-offset-5"><%= mo_presenter.outcome %></span><br>

<% if current_user %>
    <div class= "col-md-6">
        <p class="text-center">Back</p>

        <!-- Trigger the new back modal with a button -->
        <button type="button" class="btn btn-sm btn-info btn-lg pull-right" data-toggle="modal" data-target=<%= "#back_modal_#{outcome.id}" %>>Create<br>Back Odds</button>

        <!-- Modal -->
        <div id=<%= "back_modal_#{outcome.id}"%> class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content--> 
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Back</h4>
              </div>
              <%= form_tag(market_outcome_new_back_path(market_outcome_id: outcome)) do %>
                <div class="modal-body">
                  <p>Set your odds: <%= number_field_tag :odds, 5, min: 0, max: 10, step: 0.1, class: "short-width-input"%></p>
                  <p>How much?: <%= number_field_tag :original_amount, 5, min: 0, max: 10, step: 0.1, class: "short-width-input"%></p>
                </div>
                <div class="modal-footer">
                  <%= submit_tag "Submit", class: "btn btn-default" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              <% end %>
            </div>

          </div>
        </div>

        <% mo_presenter.create_bet_hash(mo_presenter.lays).each do |odds, amount| %>
            <%= mo_presenter.bet_button(odds, amount, :lay)%>    
        <% end %>
    </div>

    <div class= "col-md-6">
        <p class="text-center">Lay</p>

        <!-- Trigger the new lay modal with a button -->
        <button type="button" class="btn btn-sm btn-info btn-lg pull-left" data-toggle="modal" data-target=<%= "#lay_modal_#{outcome.id}" %>>Create<br>Lay Odds</button>

        <!-- Modal -->
        <div id=<%= "lay_modal_#{outcome.id}"%> class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content--> 
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Lay</h4>
              </div>
              <%= form_tag(market_outcome_new_lay_path(market_outcome_id: outcome)) do %>
                <div class="modal-body">
                  <p>Set your odds: <%= number_field_tag :odds, 5, min: 0, max: 10, step: 0.1, class: "short-width-input"%></p>
                  <p>How much?: <%= number_field_tag :original_amount, 5, min: 0, max: 10, step: 0.1, class: "short-width-input"%></p>
                </div>
                <div class="modal-footer">
                  <%= submit_tag "Submit", class: "btn btn-default" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              <% end %>
            </div>

          </div>
        </div>
    
        <% mo_presenter.create_bet_hash(mo_presenter.backs).each do |odds, amount| %>
            <%= mo_presenter.bet_button(odds, amount, :back)%>
        <% end %>
    </div>
<% end %>
