
<div class= "container">
  <div class="row">
    <div class= "col-md-8 col-md-offset-2">
        <h3>
            <%= @market.name %><br><br>
            <small>Market <%= @market.market_status.market_status %></small>
            <%= link_to "Mark as Complete", complete_market_path(@market), data:{confirm: "Are you sure you want to mark this market as complete?"}, class:"btn btn-info btn-xs pull-right" %>
            <br>
            <%= link_to "Delete Market", @market, method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger btn-xs pull-right" %>
        </h3>
    </div>
  </div>
</div>

<% if @market.market_status_id == 1 %>
    <%= render 'form' %>
<% else %>
    <%= render 'form_once_published' %>
<% end %>

