
<div class= "container">
  <div class="row">
    <div class= "well col-md-8 col-md-offset-2">
      <%= form_for @market do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_field :description %>
        
        <%= f.label 'Market Type' %>
        <%= f.collection_select(:market_type_id, @marketTypes, :id, :mechanism) %> </br></br>

        <%= f.label 'Outcomes' %> <i class="glyphicon glyphicon-plus" id="add_outcome"></i>

        <ul class="input-group" id="new_outcomes_input_group">
          <% @market.market_outcomes.each do |oc| %>
              <input type="text" class="form-control" placeholder="Username" value=<%= oc.outcome %>>

        <% end %>
      </ul>

        <%= f.submit(@market.new_record? ? 'New Market' : 'Edit Market', class: "btn btn-success") %>
      <% end %>
    </div>
  </div>
</div>
