
<%= render 'shared/errors', obj: @market %>

<div class= "container">
  <div class="row">

  <!-- TODO need to add logic for spread markets -->

    <div id= "new_market_form" class= "col-md-8 col-md-offset-4">

      <h3>Outcomes</h3>

      <%= form_for @market, url: complete_market_path, method: :post do |f| %>

        <% if @market.market_type.id == 1 %>
          <h4>Tick the checkbox of all outcomes where the backers won</h4>
        <% else %>
          <h4>Enter the result of each outcome</h4>
        <% end %>

        <div class="row">
          <div class= "col-xs-6 col-sm-4">
            <ul class="list-unstyled" id='new_outcomes_input_group'>
              <%= f.fields_for :market_outcomes do |mo_form| %>

                <% if @market.market_type.id == 1 %>
      
                  <li>
                    <%= mo_form.label :outcome, mo_form.object.outcome %>
                      <%= mo_form.check_box :result, class:"form-control" %>
                  </li>        			  
                  <br>

                <% else %>
                
                  <li>
                    <%= mo_form.label :outcome, mo_form.object.outcome %> | Result:
                      <%= mo_form.number_field :result, class: "form-control"%>
                  </li>   
                  <br>
                  <%= mo_form.object.hits.any? %>
                  
                <% end %>
              <% end %>
            </ul>
          </div>      
        </div>

        <%= f.submit "Save results and mark as complete", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
