<div class= "container">
    <div class="row">
        <h3>Results!</h3>
        <h3><small><%= @market.name %></small></h3>
        <hr>
        <h4>Outcomes <small>Select desired outcome to see results</small></h4>
        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @market.market_outcomes.each_with_index do |mo, index| %>
                <% user_results = mo.results.by_user_backer_or_layer(current_user) %>
                <% pnl = mo.pnl_by_user(current_user) %>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_<%= index %>">
                        <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#mo_<%= mo.id %>_collapsable" panel_num="<%= index %>">
                            <strong><%= mo.outcome %></strong><span class="pull-right">Your PnL: <%= pnl %></span>
                        </a>
                        </h4>
                    </div>
                    <div id="mo_<%= mo.id %>_collapsable" class="panel-collapse collapse <%= 'in' if index == 0 %>">
                        <div class="panel-body">
                            
                            <% if @market.market_type.id == 1 %>
                                <% if mo.result == 1 %>
                                    <p>Result: Backs win</p>
                                <% elsif mo.result == 0 %>
                                    <p>Result: Lays win</p>
                                <% end %>
                            <% else %>
                                <p>Result: <%= mo.result %></p> 
                            <% end %>
                            
                            <div class= "col-md-8 well">
                                <h4 class="text-center">Your matched bets</h4>
                                <div class= "col-md-6 text-center">
                                    <h5>Backs</h5>
                                    <hr>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Odds</th>
                                                <th>Amount</th>
                                                <th>Layer</th>
                                                <th>PnL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% user_results.each do |result| %>
                                                <% if result.backer == current_user %>
                                                    <tr>
                                                        <th><%= result.hit.back.odds %></th>
                                                        <th><%= result.hit.amount %></th>
                                                        <th><%= result.layer.username %></th>
                                                        <th><%= result.backer_pnl %></th>
                                                    </tr>
                                                <% end %>
                                            <% end %>                               
                                        </tbody>
                                    </table>
                                </div>
                                <div class= "col-md-6 text-center">
                                    <h5>Lays</h5>
                                    <hr>                                    
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Odds</th>
                                                <th>Amount</th>
                                                <th>Backer</th>
                                                <th>PnL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% user_results.each do |result| %>
                                                <% if result.layer == current_user %>
                                                    <tr>
                                                        <th><%= result.hit.lay.odds %></th>
                                                        <th><%= result.hit.amount %></th>
                                                        <th><%= result.backer.username %></th>
                                                        <th><%= result.layer_pnl %></th>
                                                    </tr>
                                                <% end %>
                                            <% end %>                              
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class= "col-md-4 well">
                                <h4 class="text-center">All matched bets</h4>
                                <hr>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Odds</th>
                                            <th>Amount</th>
                                            <th>Backer</th>
                                            <th>Layer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% mo.hits.each do |hit| %>
                                            <tr>
                                                <th><%= hit.back.odds %></th>
                                                <th><%= hit.amount %></th>
                                                <th><%= hit.back.user.username %></th>
                                                <th><%= hit.lay.user.username %></th>
                                            </tr>
                                        <% end %>                                   
                                    </tbody>
                                </table>
                            </div>                        
                        </div>
                    </div>
                </div>
            <% end %>
        </div>  

        <div>
            <h4>Payments</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Payer</th>
                        <th>Receiver</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% @market.payments.each do |payment| %>
                        <tr>
                            <th><%= payment.payer.username %></th>
                            <th><%= payment.receiver.username %></th>
                            <th><%= payment.amount %></th>
                        </tr>
                    <% end %>                                   
                </tbody>
            </table>
        </div>

    </div>

<!--     <div class="row">
        
    </div> -->
</div>
