<div class= "container">
    <div class="row">
        <h3>Results!</h3>
        <h3><small><%= @market.name %></small></h3>
        <hr>
        <h4>Outcomes <small>Select desired outcome to see results</small></h4>
        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @market.market_outcomes.each_with_index do |mo, index| %>
                <% winner_loser_struct = Struct.new(:winner, :loser) %>
                <% mo.result ? winner_loser = winner_loser_struct.new("Backs", "Lays") : winner_loser = winner_loser_struct.new("Lays", "Backs") %>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_<%= index %>">
                        <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#mo_<%= mo.id %>_collapsable" panel_num="<%= index %>">
                            <%= mo.outcome %>
                        </a>
                        </h4>
                    </div>
                    <div id="mo_<%= mo.id %>_collapsable" class="panel-collapse collapse <%= 'in' if index == 0 %>">
                        <div class="panel-body">
                            <div class= "col-md-4 well">
                                <h4 class="text-center">Result</h4>
                                <hr>
                                <p class="text-center"><%= winner_loser.winner %> win and <%= winner_loser.loser %> lose</p>
                            </div>
                            <div class= "col-md-4 well">
                                <h4 class="text-center">Your matched bets</h4>
                                <div class= "col-md-6 text-center">
                                    <h5>Backs</h5>
                                    <hr>
                                    <% mo.backs.by_user(current_user).each do |back| %>
                                        <% back.hits.each do |hit| %>
                                            <%= hit.amount %> @ <%= hit.back.odds %><br>
                                            <%= hit.back.user.firstname %>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class= "col-md-6 text-center">
                                    <h5>Lays</h5>
                                    <hr>                                    
                                    <% mo.lays.by_user(current_user).each do |lay| %>
                                        <% lay.hits.each do |hit| %>
                                            <%= hit.amount %> @ <%= hit.lay.odds %><br>
                                            <%= hit.lay.user.firstname %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <div class= "col-md-4 well">
                                <h4 class="text-center">All matched bets</h4>
                            </div>                        
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        
        
    </div>
</div>

