<%= render 'shared/errors', obj: @market %>

<div id="market_show_id" data-category="<%= @market.id  %>" style="display: none;"></div>

<div class= "container">
    <div class="row">
        <div class= "well col-md-8">
            <h1><%= @market.name %> </br>
            <small><%= @market.description %></h1></small>
            <h5>Market Type: <%= @market.market_type.mechanism %></h5>
            <h5>Founder: <%= @market.founder_name %></h5>

            <h2>Outcomes</h2>
            <div id="outcome_partial">
                <%= render partial: "outcome", collection: @market.market_outcomes %>
            </div>
        </div>
        
        <% if current_user %>
            <div class= "col-md-4 standard_box">
                <h3 class="text-center">Your Open Bets</h3>
                    <div class= "col-md-6" >
                        <h4>Open Backs</h4>
                        <div id="userbacks_partial">              
                            <%= render partial: "user_bet", collection: @market.user_backs(current_user, true) %>
                        </div>                
                    </div>
                    <div class= "col-md-6">
                        <h4>Open Lays</h4>
                        <div id="userlays_partial"> 
                            <%= render partial: "user_bet", collection: @market.user_lays(current_user, true) %>
                        </div>
                    </div>
            </div>
            <div class= "col-md-4 standard_box">
                <h3 class="text-center">Your Hits</h3>
                <% if @market.user_lays(current_user) %>
                    <div class= "col-md-6" >
                        <h4>Backs</h4>
                        <div id="userback_hits_partial">
                            <% @market.user_backs(current_user).each do |back| %>
                                <%= render partial: "user_hit", collection: back.hits %>
                            <% end %>
                        </div>
                    </div>
                    <div class= "col-md-6">
                        <h4>Lays</h4>
                        <div id="userlay_hits_partial"> 
                            <% @market.user_lays(current_user).each do |lay| %>
                                <%= render partial: "user_hit", collection: lay.hits %>
                            <% end %>
                        </div>
                    </div>               
                <% end %>
            </div>
        <% end %>

        <div class= "col-md-4 standard_box box_height_medium">

            <h3 class="text-center">Users</h3>
                <ul id="market-users-list" class="no-bullets">
                    <div id="user_partial">
                        <%= render partial: "user", collection: @market.users %>
                    </div>
                </ul>
        </div>

        <div class= "col-md-4 standard_box box_height_medium">

            <h3 class="text-center">Chat</h3>

            <div id="messages_partial">

                <% if @market.messages.any? %>
                      <%= render partial: 'messages/message', collection: @market.messages %>
                <%end%>
            
            </div> 

            <%= render partial: 'messages/message_form', locals: {message: @message, market: @market}%>
        </div>

    </div>

    <div class="row">
        <div class= "col-md-8">
            <% if current_user && current_user == @market.mkfounder %>
                <p class="text-center"><%= link_to "Edit Market", edit_market_path, class: "btn btn-warning" %></p>
            <% end %>
            <% if @market.user_markets.where(user: current_user).exists? %>
                <p class="text-center inline"><%= link_to "Leave Market", leave_market_path, id: "joinleave-market", class: "btn btn-warning" %></p>
            <% else %>
                <p class="text-center inline"><%= link_to "Join Market", join_market_path, remote: true, id: "joinleave-market", class: "btn btn-primary" %></p>
            <% end %> 
        </div>
    </div>
</div>