<div class= "well">
	<h1><%= @market.name %></h1>
	<h2><%= @market.description %></h2>
	<h3>Market Type: <%= @market.market_type.mechanism %></h3>
	<% @market.market_outcomes.each do |oc| %>
		<ul class="list-group">
			<li class="list-group-item"><%= oc.outcome %></li>
		</ul>
	<% end %>
</div>

<p class="text-center"><%= link_to "Edit Market", edit_market_path, class: "btn btn-warning" %></p>