<%= render 'shared/errors', obj: @market %>

<div class= "container">
    <div class="row">
        <div class= "well col-md-8">

            <h1><%= @market.name %> </br>
            <small><%= @market.description %></h1></small>
            <h5>Market Type: <%= @market.market_type.mechanism %></h5></br>


            <h4>Outcomes</h4><hr>
            <% @market.market_outcomes.each do |mo| %>
                <ul class="list-group">
                    <li class="no-bullets list-group-item">
                        Outcome:<%= mo.outcome %>
                        </br>
                        Backs:
                        <% mo.outcome_back_groups.each do |key, value| %>
                            <%= value %> @ <%= key %>
                        <% end %>
                        </br>
                        Lays:
                        <% mo.outcome_lay_groups.each do |key, value| %>
                            <%= value %> @ <%= key %>
                        <% end %>
                    </li>
                </ul>
            <% end %>
        </div>

        <div class= "col-md-4">
            <p class="text-center inline"><%= link_to "Join Market", join_market_path, class: "btn btn-primary" %></p>

            <h2 class="text-center">Users</h2>
            <% @market.users.each do |user| %>
                <h4 class="text-center">
                    <%= user.firstname %>
                </h3>
            <% end %>
        </div>

    </div>

    <div class="row">
        <div class= "col-md-8">
            <p class="text-center"><%= link_to "Edit Market", edit_market_path, class: "btn btn-warning" %></p>
        </div>
    </div>
</div>

