<%= render 'shared/errors', obj: @market %>


<div class= "container">
    <div class="row">
        <div class= "well col-md-8">
            <h1><%= @market.name %> </br>
            <small><%= @market.description %></h1></small>
            <h5>Market Type: <%= @market.market_type.mechanism %></h5>
            <h5>Founder: <%= @market.founder_name %></h5>
            <%= UserMarket.last.check_for_bets_and_lays %>

            <h2>Outcomes</h2>
            <% @market.market_outcomes.each do |mo| %>
                <% mo_presenter = MarketOutcomePresenter.new(mo, self) %>
                <span class="h3 col-md-3 col-md-offset-5"><%= mo_presenter.outcome %></span><br>
                <div class= "col-md-6">
                    <p class="text-center">Backs</p>
                    <%= mo_presenter.new_bet_button(:newback, current_user) %>
                    <% mo_presenter.create_bet_hash(mo_presenter.backs).each do |odds, amount| %>
                        <%= mo_presenter.bet_button(odds, amount, :back)%>    
                    <% end %>
                </div>

                <div class= "col-md-6">
                    <p class="text-center">Lays</p>
                    <%= mo_presenter.new_bet_button(:newlay, current_user) %>                              
                    <% mo_presenter.create_bet_hash(mo_presenter.lays).each do |odds, amount| %>
                        <%= mo_presenter.bet_button(odds, amount, :lay)%>
                    <% end %>
                </div>
                            </br></br></br>
            <% end %>
        </div>

        <div class= "col-md-4 standard_box">
            <h3 class="text-center">Your Bets</h3>
                <% if @market.user_lays(current_user) %>
                    <div class= col-md-6>
                        <h4>Open Backs</h4>              
                        <% @market.user_backs(current_user).each do |back| %>
                            <%= @market.bet_details(back) %>
                            </br>
                        <% end %>                 
                    </div>
                    <div class= "col-md-6 ajax">
                        <h4>Open lays</h4>              
                        <% @market.user_lays(current_user).each do |lay| %>
                            <%= @market.bet_details(lay) %>
                            </br>
                        <% end %>                 
                    </div>
                <% end %>
        </div>

        <div class= "col-md-4 standard_box box_height_medium">

            <h3 class="text-center">Users</h3>
            <% @market.users.each do |user| %>
                <h4 class="text-center">
                    <%= user.firstname %>
                </h3>
            <% end %>
        </div>

    </div>

    <div class="row">
        <div class= "col-md-8">
            <% if current_user && current_user == @market.mkfounder %>
                <p class="text-center"><%= link_to "Edit Market", edit_market_path, class: "btn btn-warning" %></p>
            <% end %>
            <% if @market.user_markets.where(user: current_user).exists? %>
                <p class="text-center inline"><%= link_to "Leave Market", leave_market_path, class: "btn btn-warning" %></p>
            <% else %>
                <p class="text-center inline"><%= link_to "Join Market", join_market_path, remote: true, class: "btn btn-primary" %></p>
            <% end %>
        </div>
    </div>
</div>

