<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="logo"><%= link_to "MYM", home_path %></li>
      <li class="links"><%= link_to "About", about_path %></li>
      <li class="links">
        <a href="">Markets</a>
        <ul class="menu vertical">
          <li class="links"><%= link_to "All Live Markets", markets_path %></li>
          <li class="links"><%= link_to "Your Live Markets", markets_path(joined: true) %></li>
          <li class="links"><%= link_to "Your Completed Markets", markets_path(joinedandcomplete: true) %></li>
          <li class="links"><%= link_to "Create New Market", new_market_path %></li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
  
</div>