<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "MakeYourMarket", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Test", test_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Markets", markets_path %></li>
      <li><%= link_to "Login", root_path %></li>
    </ul>
  </div>
</nav>