<!DOCTYPE html>
<html>
  <head>
    <title>Mym</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

  	<%= render 'layouts/navigation' %>
  	
  	<div class="container" id="yield-body">

		<%= render "layouts/messages" %>

		<%= yield %>
		  
	</div>

  </body>
</html>
